@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white;
  }
  
}

/* Hide scrollbars while preserving scroll functionality */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
